<div class='template-container'>
  <div class="page-title">
    <div class="title-text mui--text-dark-secondary mui--text-display2">System info</div>
  </div>
  <table class="mui-table mui-table--bordered version-table">
    <tbody>
      <thead>
        <tr>
          <th>Component</th>
          <th>Version</th>
        </tr>
      </thead>
      <tr>
        <td>Sololink</td>
        <td> {{ sololink_version }} </td>
      </tr>
      <tr>
        <td>Gimbal</td>
        <td>{{gimbal_version}}</td>
      </tr>
      <tr>
        <td>AccessorryKit</td>
        <td>{{ak_version}}</td>
      </tr>
      <tr>
        <td>Shot Manager</td>
        <td>{{shotmanager_version}}</td>
      </tr>
      <tr>
        <td>Pixhawk</td>
        <td>{{pixhawk_version}}</td>
      </tr>
      <tr>
        <td>Controller </td>
        <td>{{controller_version}}</td>
      </tr>
    </tbody>
  </table>

  <table class="mui-table mui-table--bordered version-table">
  <thead>
    <tr>
      <th>Wi-fi Settings</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>SSID</td>
      <td>{{ssid}}</td>
    </tr>
    <tr>
      <td>Password</td>
      <td>{{password}}</td>
    </tr>
  </body>
</table>
</div>
